<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.zhuangxiumapper.shopMapper.TyjrNoticeFileMapper">

    <resultMap id="TyjrNoticeFileResult" type="com.ruoyi.system.domain.zhuangxiumain.shopMain.TyjrNoticeFile">
        <result property="id" column="id" />
        <result property="noticeId" column="notice_id"/>
        <result property="attachmentName" column="attachment_name"/>
        <result property="attachmentPath" column="attachment_path"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

    <sql id="columns">
        id, notice_id, attachment_name, attachment_path, category_id
    </sql>

    <insert id="insertNoticeFile" parameterType="com.ruoyi.system.domain.zhuangxiumain.shopMain.TyjrNoticeFile">
        insert into tyjr_notice_file (
           <include refid="columns"></include>
        ) valus (
            #{id, jdbcType=VARCHAR},
            #{noticeId, jdbcType=VARCHAR},
            #{attachmentName, jdbcType=VARCHAR},
            #{attachmentPath, jdbcType=VARCHAR},
            #{categoryId, jdbcType=VARCHAR}
        )
    </insert>




</mapper>